@use "../settings/variables" as *;
@use "../settings/functions" as *;
@use "../mixins/breakpoints" as *;

.flex-box {
  display: flex;
  @include mq {
    flex-direction: column;
  }
  &__item {
    &:last-child {
      @include mqup() {
        margin-left: 30px;
      }
    }
  }
  &.flex-box--profile {
    .flex-box__item {
      &:last-child {
        @include mqup() {
          max-width: 530px;
          flex:  0 0 auto;
        }
        @include mq() {
          margin-top: 24px;
          text-align: center;
        }
      }
    }
  }
}