@use "../settings/variables" as *;
@use "../settings/functions" as *;
@use "../mixins/breakpoints" as *;

.primary-heading {
  text-align: center;
  margin-bottom: 40px;
  font-size: fz(48);
  font-family: "BIZ UDPGothic", serif;
  font-weight: 700;
  @include mq {
    font-size: fz(32);
    margin-bottom: 24px;
  }
}
.secondary-heading {
  margin-bottom: 16px;
  font-size: fz(24);
  font-family: "BIZ UDPGothic", serif;
  font-weight: 700;
  position: relative;
  padding-left: 48px;
  @include mq() {
    font-size: fz(18);
    padding-left: 32px;
  }
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    margin-top: -6px;
    top: 1em;
    left: 0;
    width: 32px;
    height: 6px;
    background: $accent-color-01;
    @include mq {
      margin-top: -4px;
      width: 24px;
      height: 4px;
    }
  }
}
.tertiary-heading {
  position: relative;
  padding-left: 16px;
  font-size: fz(20);
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    margin-top: -2px;
    top: 0.5em;
    left: 0;
    width: 4px;
    height: 1em;
    background: $accent-color-01;
    @include mq {
    }
  }
}
