@use "../settings/variables" as *;
@use "../settings/functions" as *;
@use "../mixins/breakpoints" as *;

.link-button {
  display: flex;
  background-color: $accent-color-02;
  color: $text-color-reverse;
  border: 2px solid $accent-color-02;
  max-width: 240px;
  width: 100%;
  padding: 16px;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  transition:
    color 0.3s,
    background-color 0.3s;
  &.w-lg {
    max-width: none;
    @include mqup {
      min-width: 300px;
    }
  }
  .blank-icon {
    transition: filter 0.3s;
  }
  &:hover {
    color: $accent-color-02;
    background-color: $text-color-reverse;
    .blank-icon {
      filter: brightness(0) saturate(100%) invert(26%) sepia(90%) saturate(1516%) hue-rotate(204deg) brightness(92%) contrast(105%);
    }
  }
}
.button-list {
  display: flex;
  @include mq {
    flex-direction: column;
  }
  &__item {
    & + & {
      @include mqup {
        margin-left: 40px;
      }
      @include mq {
        margin-top: 24px;
      }
    }
    .link-button {
      height: 100%;
      align-items: center;
    }
  }
}
.text-link {
  color: $text-color;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}
.blank-icon {
  max-width: 1em;
  margin-left: 8px;
  vertical-align: middle;
}
