@use "../settings/variables" as *;
@use "../settings/functions" as *;
@use "../mixins/breakpoints" as *;

.mv {
  &__inner {
    position: relative;
  }
  &__image {}
  &__heading {
    position: absolute;
    top: 50%;
    left: 10.42vw;
    transform: translateY(-50%);
    @include mq {
      left: 20px;
    }
  }
  &__heading-inner {}
  &__heading-text {
    font-family: "BIZ UDPGothic", serif;
    font-weight: 700;
    &:first-child {
      display: block;
      font-size: fz(48);
      @include mq {
        font-size: fz(24);
      }
    }
    &:last-child {
      font-size: fz(64);
      @include mq {
        font-size: fz(32);
      }
    }
  }
}