@use "../settings/variables" as *;
@use "../settings/functions" as *;
@use "../mixins/breakpoints" as *;

.mv {
  &__inner {
    position: relative;
  }
  &__image {}
  &__heading {
    position: absolute;
    top: 50%;
    left: 160px;
    transform: translateY(-50%);
  }
  &__heading-inner {}
  &__heading-text {
    font-family: "BIZ UDPGothic", serif;
    font-weight: 700;
    &:first-child {
      font-size: fz(48);
      display: block;
    }
    &:last-child {
      font-size: fz(64);
    }
  }
}