@use "../settings/variables" as *;
@use "../settings/functions" as *;
@use "../mixins/breakpoints" as *;

.text {
  & + & {
    margin-top: 16px;
  }
}
.name {
  font-family: "BIZ UDPGothic", serif;
  font-size: fz(32);
  &__ruby {
    font-size: fz(18);
  }
}
.blockquote {
  background: #ccc;
  padding: 20px;
  max-width: 900px;
  margin-inline: auto;
  line-height: 1.8;
}