---
import Layout from "@layouts/Layout.astro";
import WorksList from "@components/worksList.astro";
---

<Layout>
  <section class="section bg-white">
    <div class="section__inner pb-0">
      <h1 class="primary-heading">Webアクセシビリティについて</h1>
      <p class="text">
        Webアクセシビリティとは、ひとことで言い表すと<strong>「すべてのユーザーが障壁なくWebサイトを使用できること」</strong>です。<br />
        Webサイトにアクセスした方が年齢や利用環境、障害の有無などに左右されず、<strong>すべての情報・機能にアクセスできること</strong>を表します。
      </p>
      <section class="section bg-white">
        <div class="section__inner pt-xxl pb-0">
          <h2 class="secondary-heading">なぜWebアクセシビリティが重要なのか？</h2>
          <p class="text">おもに2つの観点から、重要な理由を解説します。</p>
          <h3 class="mt-lg tertiary-heading">Webサイトの目的</h3>
          <p class="text">
            そもそもWebサイトは、提供者からの視点では「情報提供」を目的に制作すると思います。<br />
            もちろんユーザーも、その情報を得るためにWebサイトを利用します。<br />
            しかしたとえWebサイトにアクセスしても、掲載されている情報を得られなければ、そのサイトはユーザーにとっても提供者にとっても意味を成さないでしょう。
          </p>
          <p class="text">ユーザーに高い満足を得てもらうため、そして質の高い情報を提供するために、Webアクセシビリティは重要なものです。</p>
          <h3 class="mt-lg tertiary-heading">法的背景や世界の情勢</h3>
          <p class="text">日本では、2024年4月より「合理的配慮の提供」というものが民間企業に対し法律で義務化されました。</p>
          <p class="text">
            合理的配慮とは何か？は、<a href="https://www.gov-online.go.jp/article/202402/entry-5611.html#secondSection" target="_blank" class="text-link"
              >「政府広報オンライン」の記事 <img src="/images/icon_new-window.svg" alt="別ウインドウで開く" class="blank-icon" /></a
            >より引用いたします。
          </p>
          <blockquote class="blockquote mt-lg mb-lg">
            社会生活において提供されている設備やサービスなどは障害のない人には簡単に利用できる一方で、障害のある人にとっては利用が難しく、結果として障害のある人の活動を制限してしまっている場合があります。このような、障害のある人にとっての社会的なバリアについて、個々の場面で障害のある人から「社会的なバリアを取り除いてほしい」という意思が示された場合には、その実施に伴う負担が過重でない範囲で、バリアを取り除くために必要かつ合理的な対応をすることとされています。これを「合理的配慮の提供」といいます。
          </blockquote>
          <p class="text">つまり、ユーザーからWebサイトの利用に関して何らかの要望があった場合に、必要な対応をすることが義務付けられているということです。</p>
          <p class="text">たとえば、色が少し見分けづらい特性を持っている方から「テキストと背景色の色合いが見えづらいものになっているので、変更してほしい」という要望があれば、その部分の配色を見えやすいものに変える、などが当てはまります。</p>
          <p class="text">「負担が過重でない範囲」という基準が少しあいまいな感じがするかもしれませんが、まずは簡単なことでも、できることからひとつずつ対応していけばよいと思います。</p>
          <p class="text">
            また、海外では日本よりもさらに厳密な法律が存在しており、Webアクセシビリティに関する訴訟まで起きている事例がたくさんあります。<br />
            日本はまだそこまで厳密に法律で義務化されているわけではありませんが、いずれ海外と同じ基準まで引き上げられる可能性は十分にあります。<br />
            そのため、今から少しずつでも知識をつけ、対応を進めていけるように準備しておくことが重要と考えています。
          </p>
        </div>
      </section>
      <section class="section bg-white">
        <div class="section__inner pt-xxl pb-0">
          <h2 class="secondary-heading">Webアクセシビリティが担保されている、とはどういうことか</h2>
          <p class="text">
            Webサイトにおいて、Webアクセシビリティが担保されている、とはどういう状態でしょうか。<br />
            ごく一例ですが、以下のような状態が望ましいです。
          </p>
          <ul class="disc-list mt-lg">
            <li>すべてのリンク要素にキーボード（TABキー）でアクセスできる</li>
            <li>音声読み上げブラウザ、スクリーンリーダーなどですべてのテキストが適切に読み上げられる</li>
            <li>テキストと背景色のコントラストが適切に保たれ、見やすい色合いが確保されている</li>
            <li>画像にはalt属性で代替テキストを設定する</li>
          </ul>
          <p class="text mt-lg">
            他にもたくさんのクリアしなければならない項目があります。<br />クリアすべき項目は、W3Cが作成する、<strong>WCAG（ダブルシーエージー、またはウィーキャグ）という国際基準で決められています。</strong><br />
            Webアクセシビリティの試験では、Webサイトのすべての要素がこの基準に沿っているか、ひとつひとつツールや目視で確認していきます。<br />
            それぞれのWebサイトによって、どのような情報をどのように伝えているかが異なるため、この試験はケースバイケースの対応が必要なものになってきます。
          </p>
        </div>
      </section>
      <section class="section bg-white">
        <div class="section__inner pt-xxl">
          <h2 class="secondary-heading">まとめ</h2>
          <p class="text">
            以上のことから、Webアクセシビリティは今後も非常に大切な考え方になると考えています。<br />
            また、障害をお持ちの方のお話も出ましたが、決して<strong>Webアクセシビリティ対応と障害者対応はイコールではありません。</strong>
          </p>
          <p class="text mb-xl">私はコーダーですので、自分が書いたコードが原因で情報にアクセスできない方を生まないために、Webアクセシビリティの考え方をもっと学び、コーディングに活かしていこうと思っています。</p>
          <div class="d-flex jcc"><a href="./" class="link-button">ホームへ戻る</a></div>
        </div>
      </section>
    </div>
  </section>
</Layout>
