---
import Layout from "@layouts/Layout.astro";
import WorksList from "@components/worksList.astro";
---

<Layout>
  <section class="mv">
    <div class="mv__inner">MV</div>
  </section>
  <section class="section">
    <div class="section__inner">
      <h2 class="primary-heading">プロフィール</h2>
      <div class="flex-box">
        <div class="flex-box__item">
          <p class="name">西　葵</p>
          <h3 class="secondary-heading">できること、やってきたこと</h3>
          <ul class="disc-list">
            <li>HTML/CSSコーディング</li>
            <li>jQuery</li>
            <li>Astro</li>
            <li>Googleアナリティクスを使用したアクセス解析レポート制作</li>
            <li>Webアクセシビリティ試験業務（AAまで）</li>
          </ul>
          <h3 class="secondary-heading">経歴</h3>
          <p class="text">
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
        </div>
        <div class="flex-box__item">
          <img src="https://placehold.jp/530x300.png" alt="プロフィール画像" />
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="section__inner">
      <h2 class="primary-heading">作品一覧</h2>
      <WorksList />
    </div>
  </section>
</Layout>
