// colors
$base-color: #C9D2C0;

$accent-color-01: #8C6A2F;
$accent-color-02: #3B82F6;

$text-color: #2A3F34;
$text-color-reverse: #E0E0E0;

$bg-color-01: #E0E0E0;

// margins/paddings
$sm: 8px;
$m: 16px;
$lg: 24px;
$xl: 48px;
$xxl: 64px;
$xxxl: 180px;

// width
$w-sp: 390px;
$w-tab: 768px;
$w-ms: 900px;
$w-m: 1000px;
$w-lg: 1200px;
$w-full: 100%;
