---
import Layout from "@layouts/Layout.astro";
import WorksList from "@components/worksList.astro";
---

<Layout>
  <section class="section bg-white">
    <div class="section__inner">
      <h1 class="works-heading">コーポレートサイト「Envision Lab」</h1>
      <h2 class="primary-heading">制作のポイント</h2>
      <p>
        この作品は、Webアクセシビリティの準拠を意識して制作しています。<br />
      </p>
      <h3 class="secondary-heading">Webアクセシビリティについて</h3>
    </div>
  </section>
</Layout>
