@use "../settings/variables" as *;
@use "../settings/functions" as *;
@use "../mixins/breakpoints" as *;

.header {
  background: $base-color;
  &__inner {
    padding: 24px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq {
      padding: 16px;
    }
  }
  &__logo {
    width: 120px;
    @include mq {
      width: 90px;
    }
    a {
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &__nav {}
  &__nav-list {
    display: flex;
    > li {
      & + li {
        margin-left: 24px;
        @include mq {
          margin-left: 16px;
        }
      } 
      a {
        text-decoration: none;
        font-size: fz(18);
        padding: 18px;
        color: $text-color;
        font-weight: bold;
        transition: background-color 0.3s, color 0.3s;
        @include mq {
          font-size: fz(14);
          padding: 8px;
        }
        &:hover {
          background-color: $text-color;
          color: $text-color-reverse;
        }
      }
    }
  }
}