---

---

<header class="header">
  <div class="header__inner">
    <div class="header__logo">
      <img src="https://placehold.jp/226x52.png" alt="ポートフォリオサイト" />
    </div>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li>
          <a href="#anchor-01">プロフィール</a>
        </li>
        <li>
          <a href="#anchor-02">作品一覧</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
